<div call="student_style mt-2" style="height: 100%">
  <div class="card-header bg-success mt-2 text-white text-center">
    <h1>Student List</h1>
  </div>
  <div class="mt-1">
    <button
      class="btn btn-warning w-100"
      (click)="addStudent()"
      data-bs-toggle="modal"
      data-bs-target="#add-edit-Modal"
    >
      Add
    </button>
    <table class="table table-dark">
      <thead>
        <tr>
          <td>Name</td>
          <td>Roll</td>
          <td>Address</td>
          <td>View</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of allStudents">
          <td>{{ student.name }}</td>
          <td>{{ student.roll }}</td>
          <td>{{ student.address }}</td>
          <td>
            <button
              class="btn btn-sm btn-outline-success"
              (click)="getStudentById(student._id)"
              data-bs-toggle="modal"
              data-bs-target="#viewModal"
            >
              View
            </button>
          </td>
          <td>
            <button
              class="btn btn-sm btn-outline-warning mx-2"
              (click)="editStudent(student._id)"
              data-bs-toggle="modal"
              data-bs-target="#add-edit-Modal"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="deleteStudentById(student._id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- View Model Start-->
<div
  class="modal fade"
  id="viewModal"
  tabindex="-1"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">Studetn Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>

      <div class="modal-body">
        <div class="card text-center">
          <div class="card-boyd">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Name : </strong>{{ oneStudent?.name }}
              </li>
              <li class="list-group-item">
                <strong>Roll : </strong> {{ oneStudent?.roll }}
              </li>
              <li class="list-group-item">
                <strong>Address : </strong> {{ oneStudent?.address }}
              </li>
              <li class="list-group-item">
                <strong>Country: </strong> {{ oneStudent?.country }}
              </li>
              <li class="list-group-item">
                <strong>State : </strong> {{ oneStudent?.state }}
              </li>
              <li class="list-group-item">
                <strong>City : </strong> {{ oneStudent?.city }}
              </li>
            </ul>
            <div class="row">
              <div class="col-md-6">
                <div class="card-header bg-info"><b>Subject</b></div>
                <ul
                  *ngFor="let sub of oneStudent?.subject"
                  class="list-group list-group-flush"
                >
                  <li class="list-group-item">{{ sub.name }}</li>
                </ul>
              </div>
              <div class="col-md-6">
                <div class="card-header bg-success text-white">Marks</div>
                <ul
                  *ngFor="let sub of oneStudent?.subject"
                  class="list-group list-group-flush"
                >
                  <li class="list-group-item">{{ sub.marks.marks }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="close()"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- View Model End-->

<!-- Add & Edit Modal -->
<div
  class="modal fade"
  id="add-edit-Modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="close()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm" (ngSubmit)="submit()">
          <!-- Name Input -->
          <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Name</label>
            <input
              type="name"
              formControlName="name"
              class="form-control"
              id="exampleInputEmail1"
            />
          </div>

          <!-- Roll Input -->
          <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Roll</label>
            <input
              type="Number"
              minlength="3"
              maxlength="10"
              class="form-control"
              formControlName="roll"
              id="exampleInputEmail1"
            />
          </div>

          <!-- Address Input -->
          <div class="mb-3">
            <label for="exampleInputAddress" class="form-label">Address</label>
            <input
              type="text"
              class="form-control"
              formControlName="address"
              id="exampleInputEmail1"
            />
          </div>
          <!-- File Upload -->
          <div class="mb-3">
            <label for="fileUpload">Upload File</label>
            <div class="input-group">
              <input
                (change)="onFileChange($event)"
                class="form-control"
                id="fileUploadInput"
                #singleUpload
                type="file"
              />

              <div class="input-group-prepend">
                <a class="btn btn-dark" (click)="onUploadFile()">Upload</a>
              </div>
            </div>
          </div>

          <!--Multiple Files Upload -->
          <!-- <div class="mb-3">
            <label for="fileUpload">Many Upload File</label>
            <input
              (change)="onManyFileChange($event)"
              class="form-control"
              id="fileUploadInput"
              type="file"
              multiple
            />
          </div> -->

          <!--New Method Files Upload -->
          <!-- <div class="mb-3">
            <label for="fileUpload">File Upload New Method</label>
            <input
              (change)="onFilesChange($event)"
              class="form-control"
              id="fileUploadInput"
              type="file"
            />
          </div> -->

          <!-- Country Input -->
          <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Country</label>
            <select
              (change)="changeCountry($any($event.target).value)"
              class="form-select"
              formControlName="country"
              aria-label="Default select country"
            >
              <option selected [ngValue]="null">Select Your Country</option>
              <option *ngFor="let country of countries" [value]="country.id">
                {{ country.name }}
              </option>
            </select>
          </div>

          <!-- States Input -->
          <div class="mb-3">
            <label for="exampleInputCountry" class="form-label">State</label>
            <select
              (change)="changeStates($any($event.target).value)"
              class="form-select"
              formControlName="state"
              aria-label="Default select state"
            >
              <option selected [value]="null">Select Your State</option>
              <option *ngFor="let state of states" [value]="state.id">
                {{ state.name }}
              </option>
            </select>
          </div>

          <!-- City Input -->
          <div class="mb-3">
            <label for="exampleInputCountry" class="form-label">City</label>
            <select
              formControlName="city"
              class="form-select"
              aria-label="Default select City"
            >
              <option selected [value]="null">Select Your City</option>
              <option *ngFor="let city of cities" [value]="city.id">
                {{ city.name }}
              </option>
            </select>
          </div>

          <!-- Subject and Mark Input -->
          <div formArrayName="subject">
            <div>
              <a
                class="btn btn-sm btn-success w-100 my-2"
                (click)="addSubject()"
              >
                Add Subject
              </a>
            </div>
            <div
              *ngFor="let sub of subFromArray.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="row">
                <!-- Subject Name Start -->
                <div class="col-md-6 mb-3">
                  <label for="exampleInputSubject" class="form-label"
                    >Subject</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                    id="sub{{ i }}"
                  />
                </div>
                <!-- Subject Name End -->

                <!-- Subject Marks Start-->
                <div class="col-md-6 mb-3">
                  <label for="exampleInputMark" class="form-label">Mark</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="marks"
                    id="sub{{ i }}"
                  />
                </div>
                <!-- Subject Marks End-->
              </div>
            </div>
          </div>

          <hr class="my-2" />

          <button
            type="button"
            (click)="close()"
            class="btn btn-secondary me-2"
            data-bs-dismiss="modal"
          >
            Close
          </button>

          <button
            [disabled]="studentForm.invalid"
            type="submit"
            *ngIf="addButton"
            class="btn btn-success"
          >
            Submit
          </button>
          <button
            [disabled]="studentForm.invalid"
            type="submit"
            *ngIf="updateButton"
            class="btn btn-success"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Add & Edit Modal End -->
